.sub_Card {
    width: 300px;
    height: auto;
    margin: 20px 30px 30px 30px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 20px;
    text-align: center;
    /* box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5); */
    transition: ease-in-out 0.2s;


}


.sub_Card:hover {
    transform: scale(1.1);
}
.sub_Card:hover{
    border: 2px dashed #041D60;
}

.sub_Card h4 {
    font-size: 28px;
    color: #041D60;
}

/* .sub_Card a {
    background-color: #041D60;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    margin-top: 15px;
    font-weight: bold;
    transition: ease-in-out 0.2s;
    border: 2px solid #041D60;

}

.sub_Card a:hover {
    background-color: #ffffff;
    color: #041D60 !important;
    border: 2px solid #041D60;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    margin-top: 15px;
    text-decoration: none;
} */

@media (max-width: 768px) {
    .sub_Card {
        margin: 15px;
        margin-top: 60px;
    }
}

.sub_button {
    text-align: center;
    background-color: #041D60;
    color: white;
    ;
}
@media (min-width: 992px) and (max-width: 1024px) {
    .sub_Card {
        justify-content: center;
        gap: 100px;
        width: 280px;
    }
}