.label {
    margin-bottom: 10px;
    font-weight:500;
    font-size: 24px;
}

.label_second{
    color: #F27A0A
}

.input_field {
    width: 100%;
    border: 1px solid black;
    padding: 25px;
    border-radius: 10px;
}

.input_container {
    margin-bottom: 25px;
}

.input_field::placeholder{
    font-size: 20px;
}
@media (max-width: 768px) {
    .label {
        font-size: 18px;
    }

    .input_field{
        padding: 10px
    }
}