.contact_title {
    margin-left: 100px;
    color: #F27A0A;
    margin-top: 10px;
}

.contact_container{
    padding-top: 40px;
    margin-top: 20px;

}

.accordions_tab {
    transition: all 3s ease-in-out;
}

.form_tab, .accordions_tab{
    padding: 0 50px;
    margin-bottom: 30px;
}
.faq_section{
    margin-top: -120px;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .form_tab, .accordions_tab{
        padding: 0 10px;
        margin-bottom: 30px;
    }
    .contact_title{
        margin-left: 40px;
    }
}

.privacy_btn{
    color:#041D60 !important;
    font-size: 20px;
margin-right: 10px;
}

.terms_btn{
    color:#041D60 !important;
    font-size: 20px;
margin-right: 10px;
}
.form_button{
    padding: 20px 60px;
    border: 0;
    border-radius: 10px;
    background-color: #041D60;
    color: white;
    margin-top: 20px;
    font-size: 20px;
}
