.home {
    position: relative;
}


.blue {
    color: #041D60;
}

.Title {
    font-size: 48px;
    color: #041D60;
}

.Title span {
    color: #F27A0A;
}

.content .para {
    color: #041D60 !important;
    font-size: 32px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    text-indent: 50%;
}

.NavTitle {
    font-size: 50px;
    color: #F27A0A;
    margin-left: 120px;
}

.content {
    margin-bottom: 40px;
}

.Home_card {
    width: 350px;
    margin-top: 40px;
    box-shadow: 0px 18px 50px 0px #00000080;
    position: relative;
    left: 100px;
    height: 377px;
}

.Home_card:nth-child(2n) {
    left: 1100px;
}

.Home_card img {
    width: 66px;
    height: 66px;
    object-fit: cover;
}

.vertical{
    height: 2px;
    background-color: black;
}
@media (max-width: 768px) {
    .NavTitle{
        font-size: 36px;
        margin-left: 25px;
    }
    .Title {
        font-size: 40px;
    }
}