.home_page {
    padding: 20px 0 20px 0;
    height: calc(100%+500px);
}
.para {
    text-wrap: pretty;
    width: 50%;
    margin-bottom: 20px;
    line-height: 40px;
    text-wrap: pretty;
}

.Title {
    margin-top: 0;
    font-size: 48px;
    color: #041D60;
}

.Title span {
    color: #F27A0A;
    margin: 0 15px;
}

.para {

    margin-top: -20px;
    font-size: 20px;
}

.NavTitle {
    font-size: 50px;
    color: #F27A0A;
}

.content {
    margin-bottom: 40px;
}

.Home_card {
    width: 350px;
    margin-top: 40px;
    box-shadow: 0px 18px 50px 0px #00000080;
    position: relative;
    left: 100px;
    height: auto;
}

.Home_card:nth-child(2n) {
    left: 1100px;
}

.Home_card img {
    width: 66px;
    height: 66px;
    object-fit: cover;
}

.vertical{
    height: 2px;
    background-color: black;
}
@media (max-width: 768px) {
    .NavTitle{
        font-size: 36px;
        margin-top: 50px;
    }
    .Title {
        font-size: 30px;
    }
    .para{
        font-size: 16px;
       text-align: center;
       width: 70%;
       min-width: 90%;
       max-width: 100%;
       margin-bottom: 0;
       line-height: normal;
       
    }
    .content {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) { /* Small Phones */
    .para {
        width: 80%; /* Almost full width for small screens */
        font-size: 0.95rem; /* Reduce font size slightly */
        line-height: 1.5;
    }
}
@media (max-width: 328px) {
  .Title {
    font-size: 1.2rem;
    line-height: 1.25;
    word-break: break-word; /* Prevent horizontal overflow */
  }
  
  /* If the title has multiple words in the span */
  .Title span {
    display: inline-block; /* Helps with line breaks if needed */
  }
}
@media (max-width: 320px) { /* Very Small Phones */
    .para {
        width: 80%; /* Make use of available space */
        font-size: 0.9rem; /* Slightly smaller text */
        line-height: 1.2;
    }
}

@media (max-width: 360px) { /* Very Small Phones */
    .para {
        width: 80%; /* Make use of available space */
        font-size: 0.9rem; /* Slightly smaller text */
        line-height: 1.2;
    }
}

@media (max-width: 1024px) { /* Very Small Phones */
    .para {
        width: 70%; /* Make use of available space */
        font-size: 1.1rem; /* Slightly smaller text */
        line-height: 1.4;
    }
}

@media (max-width: 800px) { /* Very Small Phones */
    .para {
        width: 80%; /* Make use of available space */
        font-size: 1.2rem; /* Slightly smaller text */
        line-height: 1.4;
    }
}

@media (max-width: 384px) { /* Very Small Phones */
    .para {
        width: 80%; /* Make use of available space */
        font-size: 0.8rem; /* Slightly smaller text */
        line-height: 1.2;
    }
}

@media (max-width: 412px) { /* Very Small Phones */
    .para {
        width: 80%; /* Make use of available space */
        font-size: 0.8rem; /* Slightly smaller text */
        line-height: 1.2;
    }
}
@media (max-width: 1199.98px) {
    .Title {
      font-size: 2.25rem;
    }
  }
  
  /* For tablets and smaller laptops (less than 992px) */
  @media (max-width: 991.98px) {
    .Title {
      font-size: 2rem;
    }
  }
  
  /* For landscape phones (less than 768px) */
  @media (max-width: 767.98px) {
    .Title {
      font-size: 1.75rem;
      line-height: 1.25;
    }
  }
  
  /* For portrait phones (less than 576px) */
  @media (max-width: 575.98px) {
    .Title {
      font-size: 1.5rem;
    }
  }
  
  /* For very small phones (less than 400px) */
  @media (max-width: 399.98px) {
    .Title {
      font-size: 1.3rem;
    }
  }