.ourprogram {
  padding-top: 120px;

}

.ourprogram_title {
  margin-left: 40px;
}

.ourprgmimageandcontent {
  display: flex;
}

.teaching_container {
  /* padding: 0 100px */
}

.ourprogram_img {
  width: 100%;
  height: auto;
  object-fit: co;
  padding: 50px;
  border: 0 20px 20px 0 !important;
  border-radius: 0px 165px 0px 165px !important;
}

.grade_title {
  color: #041D60;
  margin-bottom: 15px;
}

.grade_img {
  width: 50%;
  border-radius: 20px;
  object-fit: contain;
}


.ourprogram_content {
  padding: 30px 30px 10px 30px;
  line-height: 40px;
}

.ourprogram_button {
  padding: 20px 60px;
  border: 0;
  border-radius: 10px;
  background-color: #041D60;
  color: white;
  margin-top: 30px;
  font-size: 24px;
}

.ourprogram_button:hover {
  border: 2px solid #041D60;
  /* background-color: white; */
  transition: all 0.2s;
  color: #041D60 !important;
}

.ourprgmimageandcontent p {
  margin: 100px;
  width: 481px;
  height: 135px;
  font-size: 34px;
}

.ourprgmcontent button {
  margin-left: 1000px;
  background-color: #041D60;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

.ourprogram_title {
  color: #F27A0A;
  margin-left: 100px;
}

.grade {
  display: flex;
  margin-left: 180px;
  margin-top: 30px;
  width: 70%;
  justify-content: space-between;
}




@media (max-width: 768px) {

  .ourprogram_title {
    font-size: 32px;
    margin-left: 0;
  }
}

.c1 {
  color: #041D60;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}



.testimonial-container {
  height: 500px; 
  width: 100%;

  overflow: hidden;
  position: relative;
}

.testimonial-wrapper {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  animation: scrollUp 250s linear infinite;
}

@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.testimonial-item {
  margin-bottom: 20px; /* Adjust spacing */
}


@media (max-width: 768px) {
  .testimonial-wrapper{
    animation: scrollUp 2000s lineaer infinite !important
  }
}





.grade_card:hover .card-img {
  filter: brightness(50%);
  transition: filter 0.3s ease-in-out;
}

.grade_card {
  border: 0px;
}

/* Initially hide text overlay */
.overlay-text {
  opacity: 0;
  line-height: 40px;
  transition: opacity 0.3s ease-in-out;
}

/* Show text on hover */
.grade_card:hover .overlay-text {
  opacity: 1;
}