.ourprogram {
  /* padding-top: 10px; */
  margin-top: 45px;

}

.ourprogram_title {
  margin-left: 40px;
}
.ourprogram_tab{
  margin-bottom: -5px;
}

.ourprgmimageandcontent {
  display: flex;
  
}

.teaching_container{
  margin-bottom: 35px;
}

.ourprogram_img {
  width: 100%;
  height: auto;
  object-fit: co;
  padding:  0px 50px 50px 50px;
  border: 0 20px 20px 0 !important;
  border-radius: 0px 165px 0px 165px !important;
}

.grade_title {
  color: #041D60;
  margin-bottom: 15px;
}

.grade_img {
  width: 50%;
  border-radius: 20px;
  object-fit: contain;
  height: auto;
}

.all_sub{
  margin-top: -15px;
  margin-bottom: -20px;
}

.ourprogram_content {
  padding: 30px 30px 10px 30px;
  line-height: 40px;
  /* min-width: 450px;
  max-width: 330px; */
}

.ourprogram_button {
  padding: 20px 60px;
  border: 0;
  border-radius: 10px;
  background-color: #041D60;
  color: white;
  margin-top: 30px;
  font-size: 24px;
}

.ourprogram_button:hover {
  border: 2px solid #041D60;
  /* background-color: white; */
  transition: all 0.2s;
  color: #041D60 !important;
}

.ourprgmimageandcontent p {
  margin: 100px;
  width: 481px;
  height: 135px;
  font-size: 34px;
}

.ourprgmcontent button {
  margin-left: 1000px;
  background-color: #041D60;
  color: white;
  border-radius: 20px;
  padding: 10px;
}

.ourprogram_title {
  color: #F27A0A;
  margin-left: 100px;
}

.grade {
  display: flex;
  margin-left: 180px;
  margin-top: 30px;
  width: 70%;
  justify-content: space-between;
}




@media (max-width: 768px) {
  .ourprogram{
    margin-top: 25px;
  }

  .ourprogram_title {
    font-size: 32px;
    margin-left: 30px;
  }
  .ourprogram_img{
    padding-bottom: 10px;
    border-radius: 0 !important;
  }
  .ourprogram_button{
    padding: 18px 30px;
    font-size: 18px;
    margin-top: 0px;
  }
  .ourprgmcontent{
    padding-bottom: 0;
    text-align: justify !important;
    min-width: 400px;
    max-width: 450px;
  }

  .testimonial-wrapper {
    animation: scrollUp 160s linear infinite;
  }
}

.c1 {
  color: #041D60;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}



.testimonial-container {
  height: 500px; 
  width: 100%;

  overflow: hidden;
  position: relative;
}

.testimonial-wrapper {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

@keyframes scrollUp {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(-100%);
  }
}

.testimonial-wrapper {
  animation: scrollUp 40s linear infinite;
}


.grade_card:hover .card-img {
  filter: brightness(50%);
  transition: filter 0.3s ease-in-out;
}

.grade_card {
  border: 0px;
}

/* Initially hide text overlay */
.overlay-text {
  opacity: 0;
  line-height: 40px;
  transition: opacity 0.3s ease-in-out;
}

/* Show text on hover */
.grade_card:hover .overlay-text {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  #Courses{
    display: flex;
    flex-direction: row;
    
  }
}