body {
  overflow: auto;
  overflow-x: hidden;
  width: 100vw
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:  linear-gradient(30deg,#F27A0A, #041D60);; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

