.broad_card{
    margin: 20px;
    width: 80%;
    height: 200px;
}

.card_img{
    height: 150px;
    width: 150px;
    object-fit: contain;
    border-radius: 50%;
}

.broad_title{
    margin-bottom: 30px;
    color: #F27A0A;
    font-size: 30px;
}

.broad_content{
    font-size: 24px;
    color: #041D60
}