.broad_card{
    margin: 20px;
    width: 80%;
    height: 240px;
}

.card_img{
    height: 150px;
    width: 150px;
    object-fit: contain;
    border-radius: 50%;
    align-items: center;
}

.broad_title{
    margin-bottom: 30px;
    color: #F27A0A;
    font-size: 36px;
}

.broad_content{
    font-size: 24px;
    color: #041D60
}
@media screen and (max-width: 768px){
    .broad_card{
        width: 85%;
        padding: 10px;
        height: auto;
        justify-content: center;
    }
    .broad_title{
        font-size: 24px;
    }
    .broad_content{
        font-size: 18px;
        text-align: center;
       
    }
    .card_img{
        height: 100px;
        width: 100px;
    }
}