*:hover{
  cursor:default;
}

.hero_section{
    height: 100vh;
}
#Total-Div{
    margin-top:-30px ;
}

.row{
    height: 90%;
    margin-bottom: 40px;
}
.explore_us{
    border: 1px solid #041D60 !important;
    color: #041D60 !important;
    align-items: center;
    justify-content: center;
}


.hero_content{
    padding-left: 120px;
}

.hero_content h1{
    font-size: 60px;
    margin-bottom: 50px;
    color: #F27A0A;
    font-weight: 600;
}

.hero_content h4{
    font-size: 36px;
    font-weight:450;
    color: #041D60;
}

.hero_buttons{
    margin-top: 40px;
}

.image_section{
    width: 100%;
    margin: 20px;
    text-align: center;
}

.image_section .main_image {
    width: 100%;
    height: 80%;
    object-fit: cover;
}


.book_button {
    background-color: #F27A0A;
    color: #041D60;
    border: 0;
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 20px;
    margin-right: 40px ;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-in-out;
    font-weight: bolder;
}
.book_button:hover{
    background-color: #041D60;
    color:#F27A0A;
    cursor: pointer;
}
.explore_us{
    background-color:#041D60;
    color: white;
    margin-right: 12px;
    display: flex;
    height: 80px;
    width: calc(100% - 70%);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 25px;
    padding: 10px 20px !important;
    /* margin-left: 30px; */
    font-weight: 500;
    border: 2px transparent !important;
    border-radius: 20px ;
    transition: all 0.25s ease-in-out;
}
.explore_us:hover{
    transform: scale(1.1);
    color:#F27A0A !important;
    font-weight: bolder;
    cursor: pointer;
}
#HeroPage{
  
}

/* 
.hero_buttons .explore_us:hover{
    border: 1px solid #041D60;
    border-radius: 20px;
    transition: all 0.25s;
} */

/* ======== Media Queries for All Devices ======== */

/* Large Desktops (1200px and above) */
 @media (min-width: 1200px) {
    .hero_content {
      padding-left: 100px;
    }
  
    .hero_content h1 {
      font-size: 75px;
      min-height: 200px;
      max-height: 200px;
      min-width: 700px;
      margin-bottom: 20px;
    }
  
    .hero_content h4 {
      font-size: 36px;
    }
  
    .carousel img {
      width: 70%;
      height: 70%;
    }
  } 
  
  /* Laptops & Tablets (992px - 1199px) */
   @media (max-width: 1199px) {
    .hero_content {
      padding-left: 60px;
    }
   .book_button{
    margin-right: 10px;
   }
    .hero_content h1 {
      font-size: 45px;
      min-height: 100px;
      max-height: 100px;
      min-width: 90%;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .hero_content h4 {
      font-size: 30px;
    }
  
    .book_button,
    .explore_us {
      font-size: 18px;
      padding: 16px 32px;
    }
  
    .carousel img {
      width: 65%;
      height: 65%;
    }
  } 
  
  /* Tablets (768px - 991px) */
   @media (max-width: 991px) {
    .hero_section {
      height: auto;
      padding: 40px 20px;
    }
    .book_button{
        margin-right: 10px;
       }
  
    .row {
      flex-direction: column;
      height: auto;
      margin-bottom: 0;
    }
  
    .hero_content {
      padding-left: 0;
      text-align: center;
    }
  
    .hero_content h1 {
      font-size: 35px;
      margin-bottom: 30px;
      
    }
  
    .hero_content h4 {
      font-size: 20px;
    }
  
    .hero_buttons {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .book_button,
    .explore_us {
      width: 60%;
      text-align: center;
    }
  
    @media (max-width: 576px) {
      .hero_section {
          height: 100% !important;
          padding: 30px 15px;
      }
  
      .book_button {
          margin-right: 5px;
      }
  
      .row {
          flex-direction: column;
          height: auto;
          margin-bottom: 0;
      }
  
      .hero_content {
          padding-left: 0;
          text-align: center;
      }
  
      .hero_content h1 {
          font-size: 28px;
          margin-bottom: 10px;
          min-height: 70px;
      }
  
      .hero_content h4 {
          font-size: 18px;
      }
  
      .hero_buttons {
          flex-direction: column;
          align-items: center;
          gap: 15px;
      }
  
      .book_button,
      .explore_us {
          width: 80%;
          text-align: center;
      }
  }
  
  }