.hero_section{
    padding-top: 120px;
    /* background-color: #e6e6fa; */
}

.row{
    height: 90%;
    margin-bottom: 40px;
}
.explore_us{
    border: 1px solid #041D60 !important;
    color: #041D60 !important;
    align-items: center;
    justify-content: center;
}


.hero_content{
    padding-left: 120px;
}

.hero_content h1{
    font-size: 80px;
    margin-bottom: 50px;
    color: #F27A0A;
    font-weight: 700;
}

.hero_content h4{
    font-size: 36px;
    font-weight:500;
    color: #041D60;
}

.hero_buttons{
    margin-top: 40px;
}

.image_section{
    width: 100%;
    margin: 20px;
    text-align: center;
}

.image_section .main_image {
    /* width: 100%;
    height: 90%; */
    object-fit: cover;
}


.book_button {
    background-color: #F27A0A;
    color: #041D60;
    border: 0;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 450;
    border-radius: 30px;
    margin-right: 40px ;
    align-items: center;
    justify-content: center;
}

.explore_us{
    color:#041D60;
    display: flex;
    height: 80px;
    width: calc(100% - 70%);
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 25px;
    padding: 10px 20px !important;
    /* margin-left: 30px; */
    font-weight: 500;
    border: 2px transparent !important;
    border-radius: 20px 
}

/* 
.hero_buttons .explore_us:hover{
    border: 1px solid #041D60;
    border-radius: 20px;
    transition: all 0.25s;
} */

@media (max-width: 768px) {
    .hero_content{
        margin: 50px 10px;
        padding-left: 30px !important;
    }

    .hero_content h1{
        font-size: 40px !important;
        margin-bottom: 30px;
        color: #F27A0A;
        font-weight: 700;
    }

    .hero_content h4{
        font-size: 24px !important;
        font-weight:500;
        color: #041D60;
    }
.book_button {
        background-color: #F27A0A;
        color: #041D60;
        border: 0;
        padding: 5px 10px  !important;
        font-size: 14px !important;
        font-weight: 500;
        border-radius: 30px;
        margin: 0 !important;
        height: 50px;
    }

 .explore_us{
        color:#041D60 !important;
        height: 50px;
        background-color: transparent;
        font-size:14px;
        padding: 5px 10px  !important;
        font-weight: 500;
        border: 2px solid #041D60 !important;
        border-radius: 30px;
        margin-top: 0 !important;
        width: 105px;
        
    }
}