::-webkit-scrollbar-track {
  background: white; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
