.about{
    padding-top: 0px;
    background-color:#e1d6cb74;


}
h5{
    font-size: 48px;
    margin-bottom: 30px;
}
.ourmission, .ourvission{
    margin-left:40px ;
    padding-bottom: 30px;
}

.about_title{
    color:#F27A0A;
    padding: 30px 0px 0px 30px;
    margin-left: 80px;
}


.ourmission p{
    width: 917.11px;
    height: 220px;
    font-size: 36px;
    margin-left: 20px;
}

.ourvission p{
    width: 938.03px;
    height: 220px;
    margin-left: 20px;
    font-size: 36px;
}
h3{
    color: linear-gradient(30deg,#F27A0A, #041D60);
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.ourmissioncontent, .ourvissioncontent{
    display: flex;
    gap: 50px;
}

.ourfounder{
    width: 1077.81px;
    height: 424.79px;
    font-size: 34px;
    text-align: center;
    margin-left: 220px;
}

.c1,.c2,.c3,.c4,.c5{
    height: 398px;
    width: 400px;
    font-size: 21px;
    border-radius: 30px;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    padding: 50px;
}
.crow1,.crow2{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .about {
        padding: 20px;
    }
    .about_title{
        font-size: 32px;
        margin-left: 0;
    }
}