.navbar-brand{
    font-size: 20px;
    font-weight: 500;
    
}

.navbar-img{
    height: 40px !important;
    width: auto;
    object-fit: contain;
    align-items: center;
    margin-top:-10px;
}

.navbar{
    width: 100vh;
}

.toggle-icon {
    font-size: 24px;
    transition: transform 0.4s ease-in-out; /* Smooth rotation */
    display: flex;
    align-items: center;
  }
  
  .rotate {
    transform: rotate(180deg); /* Rotate when active */
  }
  


.navbar-nav a {
    margin: 0px;
    font-size: 18px !important;
    font-weight: 500 !important;
    background: linear-gradient(30deg,#F27A0A, #041D60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:"text";
    margin: 0px 10px;
    cursor: pointer;
}

.navbar-brand img {
    height: 100px;
    width: auto;
    margin-left: 50px;
}

@media (max-width: 768px) {
    .navbar-brand img {
        height: 80px;
        width: auto;
        margin-left: 0px;
    }
}