.navbar-brand{
    font-size: 20px;
}


.navbar-nav a {
    font-size: 32px !important;
    font-weight: 600 !important;
    background: linear-gradient(30deg,#F27A0A, #041D60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
